<h3>Lista de componentes</h3>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Compra</th>
        </tr>
    </thead>
    <tbody>
        @for (component of components; track component.name) {
            <tr [ngClass] = "{'clearance': component.clearance}">
                <td>{{component.name}}</td>
                <td>{{component.type}}</td>
                <td>{{component.price | currency}}</td>
                <td>
                    @if (component.stock == 0) {
                        <span class="noStock">SIN STOCK</span>
                    } @else {
                        <span>{{component.stock}}</span>
                    }
                </td>
                <td>
                    @if (component.stock != 0) {
                        <app-input-integer [(quantity)]="component.quantity" [max]="component.stock" (maxReached)="maxReached($event)"></app-input-integer>
                    }
                </td>
                <td>
                    @if (component.stock != 0) {
                        <button class="btn-success" (click)="addToCart(component)">Comprar</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>